.python-version
#*#
*class
*py[co]
*suo
*~
.DS_Store
.RData
.Rhistory
.AppleDouble
.DS_Store
.vagrant
.dir-locals.el
__pycache__
*.egg-info/
/packages.txt
FullFactorialModels/
TAGS
data/
venv/
ipbes-upload/
summary-data/
obipy-resources
~$*
packrat/lib*/
/attic/plant-db-rasters
/attic/road-density
/weighted/
/out/